body{

    background-position: center;
    background-color: black;
}
h1 {
    color: grey;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    padding-right: 70px;
}
p {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    padding-right: 70px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* side navigation menu */
.sidebar {
    font-family: monospace;
    text-align: center;
    margin: 5px;
    padding: 0;
    padding-top: 240px;
    width: 100px;
    height: 150px;
    max-height: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: gold;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: grey;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
footer {
    color: black;
    position: fixed;
    font-size: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: hsl(20, 30%, 70%);



}
